@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 50px;
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
}

a.default,
a.default:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

a.default:hover {
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.6);
}

ul {
  font-size: 1rem;
  padding-inline-start: 0px;
}

h2 {
  font-size: 1.5rem;
}

#resume_location {
  font-size: 1.2em;
  float:left;
  font-weight: 300;
}

#resume_date {
  font-size: 1.2em;
  float:right;
  font-weight: bold;
}

#resume_content {
  margin: 25px;
}

#wrapper ul li {
  align-items: center;
  text-align: right;
  display: inline-flex;
  padding-left: 1.5rem;
  text-decoration: none;
  list-style-type: none;
}

#wrapper ul {
  text-align: right;
}

#wrapper h1 {
  float: left;
  position: left;
}

#right-nav {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  float: right;
  position: right;
}

#wrapper {
  width: 100%;
  align-items: center;
  overflow: hidden; /* if you don't want #second to wrap below #first */
}
