h3 {
    color: orange;
}

span {
    color: darkgreen;
}

h2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

div.b {
  line-height: 40px;
}

#thicc {
  margin-right: 19rem;
  margin-left: 19rem;
}

#graphic {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

div.c {
  color: red;
}
